/* *
{
    outline: 2px solid red;
}
 */
body
{
    font-family: Helvetica, serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

 /* MAIN HEADER RULES */
.logo
 {
     display: flex;
     align-content: center;
     height: 50px;
 }

header 
{   
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: inline-flex;
    background-color: black;
    position: fixed;
    height: 69px;
    z-index: 10;
    border-bottom: 1px solid seashell;
}

nav
{
    margin-right: 30px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
        /* NAVEGATION ITEMS */
        .header-item
        {
            color: seashell;
            text-decoration: underline;
        }

        .header-item:hover
        {
            color: lightslategray;
        }

/* HERO IMAGE SECTION */
.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img
{
    width: 1200px;
    height: 700px;
}

.hero-desc
{
    background-color: black;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 0.2;
}
