/* GENERAL RULES */
body
{
    font-family: Helvetica, serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

 /* HEADER */
.logo
 {
     padding-left: 10px;
     height: 50px;
 }

header 
{   
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    display: inline-flex;
    background-color: black;
    position: fixed;
    height: 69px;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid seashell;
}

nav
{
    margin-right: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
        /* NAVEGATION ITEMS */
        .header-item
        {
            color: seashell;
            text-decoration: underline;
        }

        .header-item:hover
        {
            color: #DADDE2;
        }

/* HERO IMAGE SECTION */
.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img
{
    width: 1200px;
    height: 700px;
}

.hero-desc
{
    background-color: black;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1em;
}

/* TEA OF THE MONTH SECTION */
.tea-month
{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.tea-desc
{
    position: relative;
    top: 0;
    text-align: center;
    line-height: 0.2;
}
.tea-container
{
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-flow: row wrap; 
}
.box
{
    height: 210px;
    width: 300px;
    margin: 20px;
    line-height:0;
}
.box-img
{
    height: 200px;
    width: 300px;
}


/* LOCATIONS SECTION */
.locations
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.locations-info
{
    position: relative;
    top: 150px;
    text-align: center;
    z-index: 9;
}

.location-container
{
    background-image: url("img/location.webp");
    height: 500px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-flow: row wrap;
    text-align: center;
}
.location-box
{
    background-color: black;
    position: relative;
    top: 55px;
    width: 300px;
    opacity: 1;
}
.location-box h4
{
    text-align: center;
    line-height: 2.2em;
}

        .location-box:hover
        {
            color: black;
            background-color: #DADDE2;
        }
        
/* CONTACT SECTION */
.contact
{
    text-align: center;
    height: 200px;
}

/* FOOTER */
footer
{
    padding-left: 20px;
    text-align: left;
}

/* MEDIA QUERIES */

@media (max-width:910px)
{
    .location-container
    {
        object-fit: cover;
        height: 920px;
        padding-top: 30px;
    }
    .location-box
    {
        margin: 10px;
    }
    .locations-info
    {
        margin-bottom: 100px;
    }
}

@media (max-width:730px)
{
    .location-container
    {
        position: relative;
        margin-bottom: 50px;
    }
    .locations-info
    {
        color: black;
        margin-bottom: 70px;
    }
    #last
    {
        margin-bottom: 70px;
    }
}

@media (max-width: 545px)
{
    nav
    {
        font-size: 17px;
    }
}